<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <th:block th:replace="base:: bootstrap"></th:block>
</head>
<body>
<div class="container-scroller">
    <div th:replace="base:: header"></div>
    <div class="container-fluid page-body-wrapper">
        <!-- Sidebar -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <div th:replace="base:: sidebar"></div>
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <div class="content-wrapper">
                    <section th:fragment="content">

                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Course overview</h4>
                                        <form th:action="@{/course-overview}" method="get" class="mb-3">
                                            <div class="d-flex">
                                                <!-- Search Field -->
                                                <div class="input-group mr-3">
                                                    <input type="text" class="form-control" name="keyword"
                                                           placeholder="Search by course name"
                                                           th:value="${keyword}">
                                                </div>

                                                <!-- Sort By Select Box -->
                                                <div class="input-group mr-3">
                                                    <select class="form-control" name="sortBy" th:value="${sortBy}">
                                                        <option value="name">Course Name</option>
                                                        <option value="createdAt">Created Date</option>
                                                        <option value="price">Price</option>
                                                    </select>
                                                </div>

                                                <!-- Sort Direction Select Box -->
                                                <div class="input-group">
                                                    <select class="form-control" name="direction"
                                                            th:value="${sortDirection}">
                                                        <option value="ASC">Ascending</option>
                                                        <option value="DESC">Descending</option>
                                                    </select>
                                                </div>

                                                <!-- Submit Button -->
                                                <div class="input-group-append ml-3">
                                                    <button class="btn btn-primary" type="submit">Search</button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="table-responsive">
                                            <table class="table" th:if="${courses != null and !courses.isEmpty()}">
                                                <thead>
                                                <tr>
                                                    <th>Course name</th>
                                                    <th>Teacher</th>
                                                    <th>Created</th>
                                                    <th>Price</th>
                                                    <th>Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="course : ${courses}"
                                                    th:classappend="${course.status.name() == 'INACTIVE'} ? 'bg-light text-muted'">
                                                    <td>
                                                        <a th:href="@{/course-detail/{id}(id=${course.id})}"
                                                           th:text="${course.name}">Name</a>
                                                    </td>
                                                    <td th:text="${course.teacherInfo.name}">Teacher</td>
                                                    <td th:text="${#temporals.format(course.createdAt, 'dd MMM yyyy')}">
                                                        Date
                                                    </td>
                                                    <td th:text="${course.price}">Price</td>
                                                    <td>
                                                        <label th:text="${(course.isPublish && course.status.name() == 'ACTIVE') ? 'Publish' : 'Hidden'}"
                                                               th:class="badge"
                                                               th:classappend="${course.isPublish and course.status.name() == 'ACTIVE'} ? 'badge-success' : 'badge-warning'">>
                                                            Status
                                                        </label>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <!-- Show this message if courses list is empty -->
                                            <div th:if="${courses == null or courses.isEmpty()}"
                                                 class="alert alert-warning text-center">
                                                No courses available.
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="mt-3 d-flex justify-content-end">

                                <nav th:if="${totalPages > 1}">
                                    <ul class="pagination">

                                        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                            <a class="page-link" th:href="@{/course-overview(page=${currentPage - 1}, keyword=${keyword}, sortBy=${sortBy},direction=${direction})}">Previous</a>
                                        </li>

                                        <li class="page-item"
                                            th:each="i : ${#numbers.sequence(1, totalPages )}"
                                            th:classappend="${i == currentPage} ? 'active'">
                                            <a class="page-link" th:href="@{/course-overview(page=${i}, keyword=${keyword}, sortBy=${sortBy},direction=${direction})}"
                                               th:text="${i}">1</a>
                                        </li>

                                        <li class="page-item"
                                            th:classappend="${currentPage == totalPages} ? 'disabled'">
                                            <a class="page-link"
                                               th:href="@{/course-overview(page=${currentPage + 1}, keyword=${keyword}, sortBy=${sortBy},direction=${direction})}">Next</a>
                                        </li>
                                    </ul>
                                </nav>

                        </div>

                    </section>
                </div>
                <div th:replace="base::footer"></div>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- Main Panel (Content) -->
    </div>
</div>
</body>
</html>
<th:block th:replace="base:: js"></th:block>