<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <th:block th:replace="base :: bootstrap"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="container-scroller">
    <div th:replace="base  :: header"></div>
    <div class="container-fluid page-body-wrapper">
        <!-- Sidebar -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <div th:replace="base:: sidebar"></div>
            <!-- partial -->
            <div class="main-panel">
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <div class="content-wrapper">
                    <section th:fragment="content">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                                <div class="card card-statistics">
                                    <div class="card-body">
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <i class="mdi mdi-cube text-danger icon-lg"></i>
                                            </div>
                                            <div class="float-right">
                                                <p class="mb-0 text-right">Total Revenue</p>
                                                <div class="fluid-container">
                                                    <h3 class="font-weight-medium text-right mb-0"
                                                        th:text="'$' + ${#numbers.formatDecimal(totalRevenue, 0, 'COMMA', 2, 'POINT')}"></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-muted mt-3 mb-0">
                                            <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower
                                            growth
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                                <div class="card card-statistics">
                                    <div class="card-body">
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <i class="mdi mdi-receipt text-warning icon-lg"></i>
                                            </div>
                                            <div class="float-right">
                                                <p class="mb-0 text-right">Total Registration</p>
                                                <div class="fluid-container">
                                                    <h3 class="font-weight-medium text-right mb-0"
                                                        th:text="${totalRegistration}"></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-muted mt-3 mb-0">
                                            <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i>
                                            Product-wise sales
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                                <div class="card card-statistics">
                                    <div class="card-body">
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <i class="mdi mdi-poll-box text-success icon-lg"></i>
                                            </div>
                                            <div class="float-right">
                                                <p class="mb-0 text-right">Total Courses</p>
                                                <div class="fluid-container">
                                                    <h3 class="font-weight-medium text-right mb-0"
                                                        th:text="${totalCourse}"></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-muted mt-3 mb-0">
                                            <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Weekly Sales
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                                <div class="card card-statistics">
                                    <div class="card-body">
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <i class="mdi mdi-account-location text-info icon-lg"></i>
                                            </div>
                                            <div class="float-right">
                                                <p class="mb-0 text-right">Total Users</p>
                                                <div class="fluid-container">
                                                    <h3 class="font-weight-medium text-right mb-0"
                                                        th:text="${totalUser}"></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-muted mt-3 mb-0">
                                            <i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Product-wise sales
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="row">-->
                        <!--                            <div class="col-lg-7 grid-margin stretch-card">-->
                        <!--                                &lt;!&ndash;weather card ends&ndash;&gt;-->
                        <!--                            </div>-->
                        <!--                            <div class="col-lg-5 grid-margin stretch-card">-->
                        <!--                                <div class="card">-->
                        <!--                                    <div class="card-body">-->
                        <!--                                        <h2 class="card-title text-primary mb-5">Performance History</h2>-->
                        <!--                                        <div class="wrapper d-flex justify-content-between">-->
                        <!--                                            <div class="side-left">-->
                        <!--                                                <p class="mb-2">The best performance</p>-->
                        <!--                                                <p class="display-3 mb-4 font-weight-light">+45.2%</p>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="side-right">-->
                        <!--                                                <small class="text-muted">2017</small>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="wrapper d-flex justify-content-between">-->
                        <!--                                            <div class="side-left">-->
                        <!--                                                <p class="mb-2">Worst performance</p>-->
                        <!--                                                <p class="display-3 mb-5 font-weight-light">-35.3%</p>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="side-right">-->
                        <!--                                                <small class="text-muted">2015</small>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="wrapper">-->
                        <!--                                            <div class="d-flex justify-content-between">-->
                        <!--                                                <p class="mb-2">Sales</p>-->
                        <!--                                                <p class="mb-2 text-primary">88%</p>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="progress">-->
                        <!--                                                <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated"-->
                        <!--                                                     role="progressbar" style="width: 88%" aria-valuenow="88"-->
                        <!--                                                     aria-valuemin="0" aria-valuemax="100"></div>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="wrapper mt-4">-->
                        <!--                                            <div class="d-flex justify-content-between">-->
                        <!--                                                <p class="mb-2">Visits</p>-->
                        <!--                                                <p class="mb-2 text-success">56%</p>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="progress">-->
                        <!--                                                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"-->
                        <!--                                                     role="progressbar" style="width: 56%" aria-valuenow="56"-->
                        <!--                                                     aria-valuemin="0" aria-valuemax="100"></div>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="row">
                            <form method="get" th:action="@{/home}" class="row g-3 align-items-center mb-4">
                                <div class="col-auto">
                                    <label for="year" class="form-label">Năm</label>
                                    <select id="year" name="year" class="form-select">
                                        <option th:each="y : ${years}"
                                                th:value="${y}"
                                                th:text="${y}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <label for="periodType" class="form-label">Chọn thời gian</label>
                                    <select id="periodType" name="periodType" class="form-select">
                                        <option th:each="t : ${periodTypes}"
                                                th:value="${t}"
                                                th:text="${t}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-auto align-self-end">
                                    <button type="submit" class="btn btn-success">Lọc</button>
                                </div>
                            </form>
                            <canvas id="lineChart" width="600" height="300"></canvas>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 grid-margin">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Courses</h4>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        Course name
                                                    </th>
                                                    <th>
                                                        Amount
                                                    </th>
                                                    <th>
                                                        Teacher
                                                    </th>
                                                    <th>
                                                        Sales
                                                    </th>
                                                    <th>
                                                        Status
                                                    </th>
                                                    <th>
                                                        Publish
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="course : ${courses}">
                                                    <td class="font-weight-medium" th:text="${course.name}">
                                                    </td>
                                                    <td th:text="${course.price}">
                                                    </td>
                                                    <td th:text="${course.teacherName}">
                                                    </td>
                                                    <td th:text="${course.diff + '%'}">
                                                    </td>
                                                    <td th:text="${course.status}">
                                                    </td>
                                                    <td th:text="${course.isPublish}">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
                <div th:replace="base::footer"></div>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- Main Panel (Content) -->
    </div>
</div>
</body>
</html>
<script th:src="@{/js/my-chart.js}"></script>
<script th:inline="javascript">
    console.log("Adsads")
    let data = [[${statistic}]];
    let labels = data.map(s => s.label)
    let values = data.map(s => s.value)
    console.log(labels, values)
    renderLineChart(labels, values)
</script>
<th:block th:replace="base :: js"></th:block>